.flex {
  display: flex;
  gap: 1rem 0.5rem;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.flex--col {
  flex-direction: column;
}

.flex--wrap {
  flex-wrap: wrap;
}

@mixin medium {
  .flex {
    gap: 1rem;
  }

  .flex--medium--row {
    flex-direction: row;
  }

  .flex--medium--reverse {
    flex-direction: row-reverse;
  }
}
