@use "../abstracts" as var;

.section {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.section__title {
  letter-spacing: var.$letter-spacing;
  margin-bottom: var.$gap;
  text-align: center;
}

@mixin medium {
  .section {
    padding-bottom: 8rem;
    padding-top: 8rem;
  }

  .section__title {
    margin-bottom: var.$gap-medium;
  }
}
