@use "../abstracts" as var;

*,
::after,
::before {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: var.$brand;
  color: var.$dark;
  font-family: var.$font-family-body;
  font-size: 1rem;
  font-weight: 400;
  line-height: var.$line-height-body;
  min-height: 100%;
  text-rendering: optimizeLegibility;
}

main {
  background: var.$white;

  section:nth-child(even) {
    background: var.$light;
  }
}

.hidden {
  display: none;
}

h1,
.h1 {
  font-family: var.$font-family-title;
  font-size: var.$title-medium;
  font-weight: 900;
  letter-spacing: var.$letter-spacing;
  line-height: var.$line-height-title;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

h2,
.h2 {
  font-family: var.$font-family-body;
  font-size: var.$title-small;
  font-weight: 700;
  line-height: var.$line-height-title;
  margin-bottom: 1rem;
}

h3,
.h3 {
  font-family: var.$font-family-body;
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.small {
  font-size: var.$small;
}

strong,
.bold {
  font-weight: 700;
}

em,
.italic {
  font-style: italic;
}

.monospace {
  font-family: var.$font-family-monospace;
}

.key {
  @extend .monospace;
  font-stretch: 72%;
  user-select: all;
  word-break: break-all;
}

.letter-spacing {
  letter-spacing: var.$letter-spacing;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

a {
  color: var.$link;
  cursor: pointer;
  overflow-wrap: break-word;
  text-decoration: none;
  transition: var.$transition;

  &:hover {
    color: var.$link-hover;
  }
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

svg {
  height: 1rem;
  width: auto;
}

img {
  display: block;
  height: auto;
  image-rendering: smooth;
  object-fit: cover;
  width: 100%;
}

.border {
  border: 1px solid var.$border-color;
}

.border-radius {
  border-radius: var.$border-radius;
}

.border-radius--circle {
  border-radius: 50%;
}

.shadow {
  filter: var.$drop-shadow;
}

@mixin medium {
  html {
    font-size: 18px;
  }

  h1,
  .h1 {
    font-size: var.$title-large;
  }

  h2,
  .h2 {
    font-size: var.$title-medium;
  }

  h3,
  .h3 {
    font-size: var.$title-small;
  }
}
