@use "sass:color";
@use "../abstracts" as var;

$light: color.scale(var.$golden, $lightness: 5%);
$lighter: color.scale(var.$golden, $lightness: 10%);

%flex {
  display: flex;
  gap: 1rem 0.5rem;
}

.button {
  @extend %flex;
  align-items: center;
  background: var.$button;
  border-radius: var.$border-radius;
  color: var.$white;
  letter-spacing: var.$letter-spacing;
  filter: var.$drop-shadow;
  font-weight: 700;
  justify-content: center;
  padding: 1rem;
  text-transform: uppercase;
  transition: all 500ms ease-out;

  &:hover {
    background: var.$button-hover;
    color: var.$white;
  }

  &--golden {
    background: linear-gradient(108deg, var.$golden 16.666667%, $light 20.370370%, var.$golden 24.074074%, var.$golden 53.703704%, $light 61.111111%, $lighter 64.814815%, $light 68.518519%, $lighter 72.222222%, $light 75.925926%, var.$golden 83.333333%) left / 200%;

    &:hover {
      background: linear-gradient(108deg, var.$golden 16.666667%, $light 20.370370%, var.$golden 24.074074%, var.$golden 53.703704%, $light 61.111111%, $lighter 64.814815%, $light 68.518519%, $lighter 72.222222%, $light 75.925926%, var.$golden 83.333333%) right / 200%;
    }
  }
}

@mixin medium {
  %flex-medium {
    gap: 1rem;
  }

  .button,
  .button--golden {
    @extend %flex-medium;
    padding: 1rem 2rem;
  }
}
