@use "../abstracts" as var;

%grid {
  display: grid;
  grid-template-rows: minmax(232px, auto) 1fr;
}

.card {
  background: var.$white;
  border-radius: var.$border-radius;
  filter: var.$drop-shadow;
}

.card__header,
.card__footer {
  text-align: center;
}

.card__title {
  font-size: var.$h3;
  font-weight: 700;
}

.card__body {
  padding: 1rem 0.5rem;
}

.card--art {
  @extend %grid;
}

.card__image {
  border-radius: var.$border-radius var.$border-radius 0 0;
}

.card__footer {
  margin-top: 1rem;
}

.card--link {
  color: var.$dark;
  display: block;
  position: relative;

  .card__image {
    border-radius: var.$border-radius;
    filter: grayscale(100%) brightness(90%);
    transition: var.$transition;
  }

  .card__body {
    background: hsl(0 0% 100%);
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: var.$transition;
    width: 100%;
  }

  .card__link {
    color: var.$link;
    transition: var.$transition;
  }

  &:hover {
    color: var.$dark;

    .card__image {
      filter: unset;
    }

    .card__body {
      background: hsl(0 0% 100% / 0.9);
    }

    .card__link {
      color: var.$link-hover;
    }
  }
}

@mixin medium {
  .card__body {
    padding: 1rem;
  }

  .card--art--row {
    grid-template-columns: repeat(2, minmax(232px, 1fr));
    grid-template-rows: unset;

    .card__image {
      border-radius: var.$border-radius 0 0 var.$border-radius;
      height: 100%;
    }

    .card__header,
    .card__footer {
      text-align: unset;
    }
  }

  .card--art--reverse {
    .card__cover {
      order: 1;
    }

    .card__image {
      border-radius: 0 var.$border-radius var.$border-radius 0;
    }
  }
}
