@use "../abstracts" as var;

%flex {
  display: flex;
  gap: var.$gap;
}

%grid {
  display: grid;
  grid-template-rows: minmax(240px, auto) 1fr;
}

.card {
  background: var.$white;
  border-radius: var.$border-radius;
  filter: var.$drop-shadow;
}

.card__header,
.card__footer {
  text-align: center;
}

.card__title {
  font-size: var.$h3;
  font-weight: 700;
}

.card__body {
  @extend %flex;
  flex-direction: column;
  padding: var.$gap;
}

.card--art {
  @extend %grid;
}

.card__image {
  border-radius: var.$border-radius var.$border-radius 0 0;
}

.card--link {
  color: var.$dark;
  display: block;
  position: relative;

  .card__image {
    border-radius: var.$border-radius;
  }

  .card__link {
    color: var.$link;
    transition: var.$transition;
  }

  .card__body {
    background: hsla(0, 0%, 100%, 0.84);
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  &:hover {
    color: var.$dark;

    .card__link {
      color: var.$link-hover;
    }
  }
}

@mixin medium {
  %flex-medium {
    display: var.$gap-medium;
  }

  .card__body {
    @extend %flex-medium;
    padding: var.$gap-medium;
  }

  .card--art--row {
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    grid-template-rows: unset;

    .card__image {
      border-radius: var.$border-radius 0 0 var.$border-radius;
    }

    .card__header,
    .card__footer {
      text-align: unset;
    }
  }

  .card--art--reverse {
    .card__cover {
      order: 1;
    }

    .card__image {
      border-radius: 0 var.$border-radius var.$border-radius 0;
    }
  }
}
