@use "../abstracts" as var;

%flex {
  display: flex;
  gap: 1rem 0.5rem;
}

%grid {
  display: grid;
  gap: 1rem 0.5rem;
}

.footer-b {
  @extend %flex;
  flex-direction: column;
}

.footer-b__main {
  @extend %grid;
}

.footer-b__section {
  text-align: center;
}

.footer-b__title {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: var.$letter-spacing;
}

.footer-b__list {
  @extend %flex;
  align-items: center;
  flex-direction: column;
  font-size: var.$font-small;
}

.footer-b__link {
  @extend %flex;
  align-items: center;
  gap: 0.25rem;
}

.footer-b__footnote {
  border-top: 1px solid var.$border-color;
  font-size: var.$font-small;
  margin-top: 1rem;
  padding-top: 1rem;
  text-align: center;
}

@mixin medium {
  %flex-medium {
    gap: 1rem;
  }

  %grid-medium {
    gap: 1rem;
  }

  .footer-b,
  .footer-b__list {
    @extend %flex-medium;
  }

  .footer-b__main {
    @extend %grid-medium;
    grid-template-columns: repeat(3, minmax(232px, 1fr));
  }

  .footer-b__link {
    gap: 0.5rem;
  }

  .footer-b__footnote {
    margin-top: 1rem;
    padding-top: 1rem;
  }
}
